---
import Section from "../Section.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

let education = t("education");
const { title } = Astro.props;
---

<Section title={title}>
  <ul>
    {
      education.map(
        ({
          institution,
          startDate,
          endDate,
          area,
        }: {
          institution: string;
          startDate: string;
          endDate: string;
          area: string;
        }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null
              ? new Date(endDate).getFullYear()
              : t("expirienceTimeNow");
          const years = `${startYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header>
                    <h3>{institution}</h3>
                </header>
                <footer>
                  <p>{area}</p>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
  }

  article header {
    flex: 1;
  }

  article h3 {
    margin-bottom: 4px;
  }

  article a {
    color: #111;
  }
  article a:hover {
    text-decoration: underline;
  }

  article p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
