---
import Section from "../Section.astro"

import {getLangFromUrl, useTranslations} from '@/i18n/utils.ts'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

let education = t("education")
const {title} = Astro.props
---

<Section title={title}>
    <ul>
        {
            education.map(({institution, startDate, endDate, area}: {institution: string, startDate: string, endDate: string, area: string}) =>{
                const startYear = new Date(startDate).getFullYear();
                const endYear = endDate!=null ? new Date(endDate).getFullYear() : t('expirienceTimeNow');
                const years = `${startYear} - ${endYear}`;

                return(
                    <li>
                        <article>
                            <header>
                                <div>
                                    <h3>{institution}</h3>
                                </div>
                                <time>{years}</time>
                            </header>
                            <footer>
                                <p>{area}</p>
                            </footer>
                        </article>
                    </li>
                )
            } )
        }
    </ul>
</Section>


<style>
   ul {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    article h3 {
        font-weight: 500;
        color: #111;
    }

    article h4 {
        font-weight: 400;
        color: #222;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4px;
    }

    time{
        color: #555;
        font-size: 0.85rem;
    }
  
    @media (width <= 700px) {
      time {
        text-align: right;
      }
    }
  </style>