---
import Section from "@/components/Section.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

let work = t("work");
const { title } = Astro.props;
---

<Section title={title}>
  <ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
      work.map(
        ({
          name,
          startDate,
          endDate,
          position,
          summary,
        }: {
          name: string;
          startDate: string;
          endDate: string | null;
          position: string;
          summary: string[];
        }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate !== null
              ? new Date(endDate).getFullYear()
              : t("expirienceTimeNow");
          const years = `${startYear} - ${endYear}`;

          return (
            <>
              <li class="mb-2 ms-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-white" />
                <time class="mb-1 text-sm font-normal leading-none text-black-400 dark:text-gray-500">
                  {startDate} - {endDate}
                </time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-gray">
                  {position} &bull; {name}
                </h3>
                <ul class=" text-base font-normal text-gray-500 dark:text-gray-400">
                  {summary.map((responsability) => (
                    <li >
                      <p>{responsability}</p>
                    </li>
                  ))}
                </ul>
              </li>
            </>
          );
        }
      )
    }
  </ol>
</Section>

<style>
  ol {
    display: flex;
    flex-direction: column;
  }
  footer ol li {
    list-style: square;
    margin-left: 2%;
    gap: 4px;
  }
  article h3 {
    font-weight: 600;
    color: #111;
  }

  article h4 {
    font-weight: 500;
    color: #222;
    margin-block: 10px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
  }

</style>
